/*
 * Globals
 */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus 
{
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

body 
{
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .3);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .3);
  background-color: rgb(65, 179, 255);
}

.cover-container-index 
{
  max-width: 42em;
}

.cover-container-contacts 
{
  max-width: 72em;
}

#background-top 
{
  position: absolute;
  z-index: -1;
  height: 68px;
  width: 100%;
}

#loginResult
{
  color: red;
}

.nowrap
{
  white-space: nowrap;
}

#user-name-display
{
  text-align: left;
  margin: 7px;
  margin-right: 15px;
}

.search-bar-container 
{
  border-radius: 0.25rem;
  border: none;
  height: auto;
  margin-bottom: 1rem;
	vertical-align:t op;
}

.search-box input[type=text] 
{    
  border-radius: 0.25rem;
  border: none;
  height: 2.375rem;
  vertical-align: top;
  padding-left: 5px;
}

/*
 * Table structure
 */

#contactsTable
{
  display: block; 
  max-height: 500px; 
  overflow: auto; 
}

#table-header
{
  background: white;
}

.header-row
{
  box-shadow: inset 0 -2px 0 #808080;
}

table 
{
  text-shadow: none;
}

th
{
  vertical-align: middle;
}

td
{
  align-items: center;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
}

.emailRow
{
  text-align: center;
}

.notesRow
{
  text-align: left;
}

#notes-row
{
  text-align: left;
}

#button-cell
{
  display: flex;
  justify-content: space-evenly;
}

.save
{
  margin-top: 3.1px;
  margin-bottom: 3.1px;
}

.nameInput
{
  width: 110px;
}

.phoneNumberInput
{
  width: 130px;
}

.emailInput
{
  width: 130px;
}

.inputLeft
{
  margin: 0px; /* remove all margins to fit two divs in the container */
  display: inline-block;
}

.inputRight
{
  margin: 0px; /* remove all margins to fit two divs in the container */
  display: inline-block;
}

/* Column widths are based on these cells */

#row-name 
{
  min-width: 262px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

#row-phoneNumber 
{
  width: 20%;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

#row-email 
{
  width: 20%;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

#row-notes
{
  width: 40%;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

/* Select the fourth element in a table row */
/*
td:nth-of-type(4)
{
  text-align: left;
}
*/

/*
 * Header
 */

.nav-masthead .nav-link 
{
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus 
{
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link 
{
  margin-left: 1rem;
}

.nav-masthead .active 
{
  color: #fff;
  border-bottom-color: #fff;
}

/*
 * Modals
 */

#modalSignin, #modalSignup, #features, #addContact
{
  color: black;
  text-shadow: none;
}

#features-wrapper
{
  align-items: center;
  justify-content: center;
}

.feature-image
{
  object-fit: cover;
  height: 310px;
}

.row 
{
  flex-wrap: nowrap;
}

.card
{
  width: 350px;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.b-example-divider 
{
  height: 3rem;
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi 
{
  vertical-align: -.125em;
  fill: currentColor;
}

.rounded-4 { border-radius: .5rem; }
.rounded-5 { border-radius: .75rem; }
.rounded-6 { border-radius: 1rem; }

.modal-sheet .modal-dialog 
{
  width: 380px;
  transition: bottom .75s ease-in-out;
}
.modal-sheet .modal-footer 
{
  padding-bottom: 2rem;
}

.modal-alert .modal-dialog 
{
  width: 380px;
}

.border-right { border-right: 1px solid #eee; }

.modal-tour .modal-dialog 
{
  width: 380px;
}



/* Gets rid of margins and max-width for features modal */
@media (min-width: 576px)
{
  #features-modal
  {
    max-width: 0px; 
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 1px) and (max-width: 694px)
{

 
  
  #card-wrapper
  {
    display: flex;
    flex-direction: column;
    --bs-gutter-y: 2rem;
  }

  .card
  {
    margin-left: 59px;
    margin-right: 59px;
    width: 70vw;
  }
}

@media only screen and (max-width: 767.5px)
{
  #background-top 
  {
    height: 98px;  
  }

  #title
  {
    padding-bottom: 5px;
  }  
}

@media only screen and (min-width: 695px) and (max-width: 970px)
{
  #card-wrapper
  {
    display: flex;
    flex-direction: column;
    --bs-gutter-y: 2rem;
  }

  .card
  {
    width: 80vw;
  }
}

@media only screen and (max-width: 1078px)
{
  #card-wrapper
  {
    --bs-gutter-x: 1rem;
  }

}